.date-container {
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}
.max-w-full {
  border: 1px solid #ccc;
  padding: 4px;
  width: 60%;
}