.header-container {
  display: flex;
  width: 100%;
  height: 150px;  
  align-items: center;
  justify-content: space-between;
}

.title-header{
    font-weight: 600;
    font-size: 36px;
}
.date-header {
  color: #a0a0a0;
  font-size: 22px;

}
