<div class="todo-item">
    <div class="check-box">
        <app-checkbox (checkedChange)="onCheckedChange.emit(todoItem.id)" [checked]="todoItem.status === 'completed'"
            [idNumber]="todoItem.id">
        </app-checkbox>
    </div>
    <div class="task-name" [ngClass]="{'task-name-terminated': todoItem.status === 'completed'}"> {{ todoItem.name }}
    </div>
    <div class="time-task"> {{ todoItem.startTask | clock }} <span class="dash">-</span> {{ todoItem.endTask | clock }}
    </div>
    <div class="time-task"> {{ todoItem.dateTask | dateRange }} </div>
    <div (click)="onEdit.emit(todoItem)" class="edit-button"> &#x270E;
        <app-dialog [item]="todoItem"></app-dialog>
    </div>
    <div (click)="onDelete.emit(todoItem.id)" class="delete-button"> &#x2715;
        <app-dialog [item]="todoItem"></app-dialog>
    </div>
</div>