.main-container {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  
}
.left-container {
  box-sizing: border-box;
  width: 18%;
  min-width: 250px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
   
}
.right-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 0 6%;
  overflow: hidden;
}
