.button-area {
  border: none;
  width: 48px;
  height: 48px;
  border-radius: 30px;
  background-color: #1B6EBE;
  color: #ffffff;
  position: absolute;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  padding-bottom: 2px;
  font-size: 25px;
}

.button-area:hover {
  font-size: 35px;
}

.modal-new-task {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  bottom: 80px;
  border-radius: 15px;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.modal-new-task.fadein {
  animation: fadeIn 0.5s;
}

.modal-new-task.fadeout {
  animation: fadeOut 0.5s;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}

.modal-container {
  width: 100%;
  height: 100%;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-title {
  padding: 10px;
  font-weight: 500;
  font-size: 20px;
}

input {
  display: block;
  margin: 5px 10px;
  padding: 10px 5px;
  width: auto;
  border: 1px solid #eaeaea;
  border-radius: 10px;
}

.backgound-model {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 90%;
  backdrop-filter: blur(1.5px);
  transition:  ease-in 1s;
  
  
}

.time-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  

}

.date-container {
  height: 39px;
  width: 100%;
  padding: 0 10px;
}