<button (click)="toogleModal()" class="button-area">
    <span>&#x002B;</span>

</button>

<div class="backgound-model" *ngIf="modalVisible" (click)="toogleModal()"></div>
<div class="modal-new-task" [class]="fadeStatus ? 'fadein' : ' fadeout'" *ngIf="modalVisible">
    <div class="modal-container">
        <h3 class="modal-title">Adicione uma Tarefa</h3>
        <input class="name-task" placeholder="Nome da tarefa">
        <app-datepicker></app-datepicker>

        <div class="btn-container">
            <app-button [color]="'white' " [btnName]="'Canelar'" />
            <app-button [btnName]="'Adicionar'" />
        </div>
    </div>
</div>