<div class="category-menu">
    <h2 class="menu-title">Categoria</h2>
    <div class="menu-list">

        <div class="menu-item">
            <span>O</span>
            <span style="flex-grow: 1;">Estudos</span>
            <span class="menu-item-counter">20</span>
        </div>
        <div class="menu-item-highlighted">
            <span>O</span>
            <span style="flex-grow: 1;">Casa</span>
            <span class="menu-item-counter-highlighted">20</span>
        </div>
        <div class="menu-item">
            <span>O</span>
            <span style="flex-grow: 1;">Profissional</span>
            <span class="menu-item-counter">20</span>
        </div>

    </div>

</div>