<div class="category-menu">
    <h2 class="menu-title">Categoria</h2>
    <div class="menu-list">

        <div class="menu-item" (click)="setFilter('pending')">
            <span>O</span>
            <span style="flex-grow: 1;">Pendentes</span>
            <span class="menu-item-counter">{{counter[0]}}</span>
        </div>
        <div class="menu-item-highlighted" (click)="setFilter('completed')">
            <span>O</span>
            <span style="flex-grow: 1;">Finalizados</span>
            <span class="menu-item-counter-highlighted">{{counter[1]}}</span>
        </div>  

    </div>

</div>