.button-area {
  border: none;
  width: 48px;
  height: 48px;
  border-radius: 30px;
  background-color: #1B6EBE;
  color: #ffffff;
  position: absolute;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  padding-bottom: 2px;
  font-size: 25px;
}

.button-area:hover {
  font-size: 35px;
}

.modal-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.time-container{
  display: flex;
  gap: 10px;
}