<button class="button-area" (click)="showDialog()" label="Show"><span>&#x002B;</span></button>

<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '25rem' }">
    <ng-template #header>
        <h3>Adicione uma Tarefa</h3>        
    </ng-template>
    <input pInputText [(ngModel)]="inputName" type="text" pSize="large" placeholder="Nome da tarefa" />
    <p-datepicker class="date-container" [(ngModel)]="rangeDate" size="large" placeholder="Data" showIcon
        iconDisplay="input" selectionMode="range" [readonlyInput]="true" />
    <div class="time-container">
        <p-datepicker inputId="calendar-timeonly" [(ngModel)]="startTime" [timeOnly]="true"
            placeholder="Início da tarefa" />
        <p-datepicker inputId="calendar-timeonly" [(ngModel)]="endTime" [timeOnly]="true" placeholder="Fim da tarefa" />
    </div>    
</p-dialog>